<% layout('./layouts/boilerplate') -%>
    <div class="row mt-4">
        <div class="col-3 ml-2 border-end">
            <div style = "border-radius: 20px;" class="card">
                <img style = "max-width: 200px; max-height: 200px; margin: auto;"src="<%= pokemon.image %>" class="card-img-top img-fluid" alt="pokemon image">
                <div class="card-body">
                    <h5 class="card-title text-center">
                        <%= pokemon.name %>
                    </h5>
                </div>
                <div class="card-header">
                    Types
                </div>
                <div>
                    <ul class="list-group list-group-flush">
                        <% for (let data of pokemon.types) { %>
                            <li class="list-group-item">
                                <%= data.type.name %>
                            </li>
                            <% } %>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-9 border pt-4">
            <div class="container">
                <div class="row">
                    <div class="col-4 border text-center">
                    Stats:
                    <ul class = "list-group list-group-flush mt-1">
                    <% for (let s of pokeData.stats) { %> 
                       
                            <li class =" list-group-item"><span><%= s.stat.name %> : <%= s.base_stat %> </span></li>
                        
                        <% } %> 
                    </ul>
                    </div>
                    <div class="col-6">....<br>......</div>
                  </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col-6 offset-3 text-center">
            <span><a href="/pokemons"> back to home page</a></span>
        </div>
    </div>